@{
    ViewData["Title"] = "Home Page";
} 
@model IEnumerable<StoreInventoryApplication.DataModels.StoreOrder>


    <div class="text-center">

        @if (Model != null)
        {                       
            <h1>Orders</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StoreId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.InventoryCost)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Submitted)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateToSubmit)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StoreId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.InventoryCost)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Submitted)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateToSubmit)
                            </td>
                            <td>
                                @if (!item.Submitted)
                                {
                                    <a asp-action="EditOrder" asp-route-id="@item.Id">Edit Order</a>                                   
                                }
                                @if (item.Submitted)
                                {<a>Finalized</a>}
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }


    </div>
